@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FED245;
    
}

h1 {
    color: ;
    font-size: 4rem;
    font-family:'Creepster', cursive;
    text-transform: uppercase;
    text-align: center;
}

.face {
    max-width: 20rem;
    margin-top: -3.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 4px black;
}

.headerinfo {
    margin-top: 50px;
    padding: 0;
}

.subtitle {
    color: white;
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
}

.list {
    color: white;
    font-size: .9rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
}

ul {
    padding: 0;
    margin-top: 2rem;
}

a {
    color: black;
    font-family: 'Creepster', cursive;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none
}

a:hover {
    color: white;
    font-family: 'Creepster', cursive;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {
    
    .info {
        margin-top: 13rem;
        padding-right: 12rem;
    }
    
    .subtitle {
        text-align: left;
    }
    
    .list {
        text-align: left;
    }

}